
@{
    Layout = null;
}


<!doctype html>
<html class="no-js " lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>:: Merw Property Admin Girişi ::</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/KProfil/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/KProfil/assets/css/main.css">
    <link rel="stylesheet" href="~/KProfil/assets/css/authentication.css">
    <link rel="stylesheet" href="~/KProfil/assets/css/color_skins.css">
</head>

<body class="theme-purple authentication sidebar-collapse">
    <div class="page-header">
        <div class="page-header-image" style="background-image: url(/KProfil/assets/images/login.jpg)"></div>
        <div class="container">
            <div class="col-md-12 content-center">
                @if (TempData["sifreyenile"] != null)
                {
                    <span class="alert alert-success">@TempData["sifreyenile"]</span>
                    <br />

                    <br />
                }

                @if (TempData["uyari"] != null)
                {
                    <span class="alert alert-success">@TempData["uyari"]</span>
                    <br />

                    <br />
                }



                <div class="card-plain">
                    <form class="form" method="post" asp-action="OrganiztionLogin" enctype="multipart/form-data">
                        <div class="header">

                            <img src="~/Content/Images/Logo Update-01.png" width="250px" alt="">

                        </div>

                        @if (TempData["mesaj"] != null)
                        {
                            <span class="alert alert-danger">@TempData["mesaj"]</span>
                            <br />
                            <br />
                        }

                        <div class="content">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="input-group input-lg">
                                <input type="text" class="form-control" name="EMail" required="" placeholder="EPosta!">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-account-circle"></i>
                                </span>
                            </div>
                            <div class="input-group input-lg">
                                <input type="password" name="Password" required="" placeholder="Şifre!!!" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">Giriş Yap</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  
    </div>

    <!-- Jquery Core Js -->
    <script src="~/KProfil/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/KProfil/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

    <script>
        $(".navbar-toggler").on('click', function () {
            $("html").toggleClass("nav-open");
        });
        //=============================================================================
        $('.form-control').on("focus", function () {
            $(this).parent('.input-group').addClass("input-group-focus");
        }).on("blur", function () {
            $(this).parent(".input-group").removeClass("input-group-focus");
        });
    </script>
</body>
</html>
